body{
  background: #F7FAF0;
}

.vector{
  width: 20px;
  height: 70.5px;
  transform: rotate(180deg); 
}
.main-content{
  width: 70%;
  margin: 0 auto;
  z-index: 1000;
}
.card-constainer {
  margin-top: 13%;
  z-index: 5;
}
.vetka1 {
  position: absolute;
  margin-left: 0%;
  z-index: -1;
}
.vetka2 {
  position: absolute;
  margin-left: 70%;
  margin-top: -45%;
}
.title-ingridient {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #000000;
}
.headerContent{
  display: inline;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 78.13px;
}
.footerContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  margin-top: 74px;
}
.receptText {
  border-left: 3px solid #9bd241a1;
  border-bottom: 3px solid #9bd241a1;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  color: #000000;
  width: 639px;
}


.typeCatigories{
  display: inline;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 69px;
}
.typeCatigories + .typeCatigories{
  margin-top: 42px;
}
.type{
  font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 24px;
text-align: center;
text-transform: uppercase;
color: rgba(155, 210, 65, 0.63);
}
.typetext{
  font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 24px;
text-align: center;
color: #000000;
}

.linkContent {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #000000;
  &:hover {
    color: #9bd241;
  }
  img{
    margin-top: 32.21px;
    margin-left: 46%;
  }
}

.title-card {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin-left: 0px;
}
.image.container {
  border-radius: 6.91108px;
  border: 1px solid #9bd241;
  padding: 12.42px 12.42px;
}

.imgCard {
  width: 417.43px;
  height: 336.23px;
  /*width: 30%;
  height: 30%;*/
  border-radius: 6.91108px;
}

.table {
  margin-top: 44px;
}
.topTable{
  background-color: rgba(155, 210, 65, 0.63);
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: #ffffff;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
  height: 62px;
}
tr + tr {
  height: 41px;
  border-radius: 20px;
  font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #000000;
background: rgba(255, 255, 255, 0.002);
border-width: 1px 0px 0px 1px;
border-style: solid;
border-color: #FFFDFD;
 text-align: center;
}
