.card-constainer{
  margin-top: 18%;
}
.vetka1{
  position: absolute;
  margin-left: 0%;
} 
.vetka2{
  position: absolute;
  margin-left: 70%;
  margin-top: -45%;
}

.title-card {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.image.container{
  border-radius: 6.91108px;
  border: 1px solid #9BD241;
padding: 12.42px 12.42px;

}

.imgCard {
  width: 417.43px;
height: 336.23px;
  /*width: 30%;
  height: 30%;*/
  border-radius: 6.91108px;
}
.card-category {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 10px;
  width: 10%;
  height: 5%;
  margin: 0 auto;
  background: #d1a954;
  border-radius: 3px;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
.area {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 135%;
  color: #d1a954;
}
.curent-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}
.tex-card {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 135%;
  color: #616161;
}
.table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: left;
  border-collapse: separate;
  border-spacing: 5px;
  background: #ECE9E0;
  color: #656665;
  border: 16px solid #ECE9E0;
  border-radius: 20px;
  }
  th {
  font-size: 18px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: center;
  }
  td {
  background: #F5D7BF;
  text-align: center;
  }

