.cards {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 342.29px;
height: 348px;
  padding: 16px 22px;
  
}
.text-catd {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  
}
.badge {
  top: 10px;
  right: 85px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: rgba(155, 210, 65, 0.63);
}
.img {
  width: 299px;
height: 241px;
}
.table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: left;
  border-collapse: separate;
  border-spacing: 5px;
  background: #ECE9E0;
  color: #656665;
  border: 16px solid #ECE9E0;
  border-radius: 20px;
  }
  th {
  font-size: 18px;
  padding: 10px;
  }
  td {
  background: #F5D7BF;
  padding: 10px;
  }
