.menu-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    li+li{
      margin-left: 15px; 
    }
    a{
      text-decoration: none; 
      color: #000;
      &:hover,
      &:focus{
        color: rgba(155, 210, 65, 0.63);
      }
    }

  }
  .menu-items {
    display: inline-block;
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
  }

  