.content{
    
        height: 863px;
        width: 86%;
        margin-left: 7.5%;
}

.title, .title-AYML{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 54px;
text-transform: uppercase;
color: #000000;
}
.title-AYML{
    margin-left: 63%;
    margin-top: -400px;
}
.images{
    width: 100%;
    img{
        display: inline;
        padding-top: 30px;
}
}
.img1{
    width: 661px;
height: 281px;
margin-right: 46px;
}
.img2{
    width: 407px;
    height: 288px;
}
.img3{
    width: 508px;
    height: 463px;
    margin-right: 21px;
}
.img4{
    width: 585px;
    height: 351px;
    margin-top: 111px;
}