.header{
    height: 77px;
    border-bottom: 2px solid rgba(155, 210, 65, 0.63);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 285px;
    
}

.menu{
    display: none;
}

.vector{
    width: 20px;
    height: 70.5px;
    transform: rotate(180deg); 
}

.title{
    font-family: 'Modern No. 20';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 34px;
color: #000000;

}
.reservbutton{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}