/*@import 'antd/dist/antd.css';

.pagination {
   
  /*.ant-pagination{
    display: inline;
   .ant-pagination-item-link{
      font-style: normal;
      font-size: 13px;
      border-radius: 5px;
      color: gray;
    }
   .ant-pagination-item{
      font-style: normal;
      font-size: 15px;
      border-radius: 5px;
      color: blue;
      border-color: blue;
    }
  }
  }
  .ant-pagination-item-link{
    font-style: normal;
    font-size: 13px;
    border-radius: 5px;
    color: gray;
    border: 1px solid red;
  }*/