.App{
    background-color: pink;
   /* background: url(../src/assets/eda-raznoe-vino-med-vinograd-doska-syr-y-1268370.svg);*/
}
.col-8{
    margin: auto 0;
    background-color: white;
    /*background: url(../src/assets/eda-raznoe-vino-med-vinograd-doska-syr-y-1268370.jpg);*/
}
