body{
    background-color: #F7FAF0;
}
.impotant-title {
    margin: 0 auto;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
  }
  .content{
    margin: 0 auto;
    width: 100%;
    background: #F7FAF0;
    
  }