$white: #fff;
$black: #222323;
$darkGray: #4D4D4D;
$gray: #4D4D4D;
$lightGray: #F4F4F4;
$lightGrayForScroll: #FAFAFA;
$activeСell:  #A0A0A0;
$pink: #FE1251;
$blue: #8AA1EA;
$fieldBlue: rgba(229, 239, 255, 1);
$activeFieldBlue: rgba(229, 239, 255, 0.2);
$darkRed: rgba(147, 18, 74, 1);
$green: #2E830C;
$success: #54F377;
