
.cards{
    border: 2px solid blue;
    border-radius: 10px;
    
}
.badge{
    top:10px;
    right: 20px;
    font-size: 17px;
}
.img{
    border-radius: 10px 10px 0 0 ;
}
.content{
    margin-left: 350px;
    margin-top: -410px;
}