
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.barcodeComponents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(180, 227, 106, 0.63);
}


.buttonContent{
    display: flex;
    gap: 10px;
}

.button{
    padding: 9px 20px;
    border: 3px solid rgba(155, 210, 65, 0.63);
border-radius: 30px;
background: none;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #000000;
}