
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.barcodeComponents{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

                //background: url(../../assets/unsplash_N_Y88TWmGwA.png);
                background: url(../../assets/unsplash_N_Y88TWmGwA.png) no-repeat;
                -moz-background-size: 100%; 
                -webkit-background-size: 100%;
                -o-background-size: 100%; 
                background-size: 100%;
    

}


.buttonContent{
    display: flex;
    gap: 10px;
}

.button{
    padding: 9px 20px;
    border: 3px solid rgba(155, 210, 65, 0.63);
border-radius: 30px;
background: none;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #000000;
}