
.content{
    display: grid;
    grid-template-columns: 50% 50%;
}
.img{
    height: 100vh;
    width: 100%;
}
.formContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.buttonGoBack{
    background: none;
    position: absolute;
    background-color: #759541;
    border-radius: 100px;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    border: none;
    transform: rotate(180deg);
}
.form{
width: 60%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: center;
gap: 25px;
.inputBookingGuases{
    border: 4px solid rgba(155, 210, 65, 0.63);
    border-radius: 15px;
    font-style: normal;
    color: #636363;
    }
}
.name{
    display: flex;
    gap:14px
}
.contacNumber{
    width: 100%;
}
.bookingContainer{
padding-top: 70px 87px;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
text-align: center;
gap: 50px;}
.title{
font-family: 'Modern No. 20';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 60px;
color: #000000;

}
.buttonBoking{
padding: 17px 100px;
background: rgba(155, 210, 65, 0.63);
border-radius: 15px;
text-align: center;
color: #000000;
width: 346px;
height: 57px;
align-self: center;
border: none;
margin-top: 50px;
}
.inputBooking{
border: 4px solid rgba(155, 210, 65, 0.63);
border-radius: 15px;
font-style: normal;
color: #636363;
}
.inputBookingDate{
    text-align: center;
    border: 4px solid rgba(155, 210, 65, 0.63);
    border-radius: 15px;
    font-style: normal;
    color: #636363; 
    padding-top: 6px;
    padding-bottom: 6px;
}
.book{
    padding: 69px 89px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../../assets/unsplash_godkmdG6M6o.png);
    width: 100%;
    height: 100%;
    gap:20px;
}
.buttonModal{
    background: none;
    padding: 10px 10px;
    border: 4px solid rgba(155, 210, 65, 0.63);
    border-radius: 15.3607px; 
    font-family: 'Ubuntu';
    font-style: normal;
    color: #759541;
    text-decoration: none;
    &:hover{
        color: #759541;
    }
}
.titleModal{
    font-family: 'Ubuntu';
    font-style: normal;
    line-height: 41px;
    text-align: center;
    color: #000000;
    font-size: 36px;
}
.textModal{
    color: #000000;
}
.goodBoking{
    width: 40%;
    height: 40%;
}