.title-card {
  margin: 0 auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.imgCard {
  width: 50%;
  height: 50%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}
.card-category {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 10px;
  width: 10%;
  height: 5%;
  margin: 0 auto;
  background: #d1a954;
  border-radius: 3px;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
.area {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 135%;
  color: #d1a954;
}
.curent-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}
.tex-card {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 135%;
  color: #616161;
}
