@import './src/stylesover/constants';
@import './src/stylesover/mixins';

.pagination {
  max-width: 100%;
  margin-top: 68px;
  @include flex('center', 'center');
  list-style-type: none;
  gap: 25px;
  margin-left: -3%;
  :global(.ant-pagination-item-link){
    background-color: rgba(155, 210, 65, 0.63);
    border-radius: 100px;
    border: none;
    width: 45.89px;
   height: 45px;
   color:  #FFFFFF;
   font-size: 30px;
   }
  :global(.ant-pagination-item){
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 19.9367px;
    line-height: 23px;
    color: #000000;
  }
  :global(.ant-pagination-prev){
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 19.9367px;
    line-height: 23px;
    color: #000000;
  }
}