@import './src/stylesover/constants';
@import './src/stylesover/mixins';

.pagination {
  max-width: 100%;
  height: 40px;
  @include flex('center', 'right');
  //margin-top: 40px;

  :global(.ant-pagination-item-link){
    font-style: normal;
    font-size: 13px;
    border-radius: 5px;
    color: $gray;
  }
  :global(.ant-pagination-item){
    font-style: normal;
    font-size: 15px;
    border-radius: 5px;
    color: $blue;
    border-color: $blue;
  }
}