@import './src/stylesover/constants';
@import './src/stylesover/mixins';

.pagination {
  max-width: 100%;
  margin-top: 68px;
  @include flex('center', 'center');
  list-style-type: none;
  gap: 25px;
  margin-left: -3%;
  :global(.ant-pagination-item-link){
  color: rgba(155, 210, 65, 0.63);
   font-size: 30px;
   background: none;
   border: none;
   }
   :global(.ant-pagination-next){
    background-color: none;
    border-radius: 100px;
    border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   }
  :global(.ant-pagination-item){
    font-weight: 400;
    color: #000000;
  }
  :global(.ant-pagination-prev){
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 19.9367px;
    line-height: 23px;
    color: #000000;
  }
}